parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 6
			path: config/money-magic.php

		-
			message: '#^Trait Fezz\\MoneyMagic\\Concerns\\HasMoneyAttributes is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/HasMoneyAttributes.php
